* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 18px;
}

.card__container {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  list-style: none;
  padding-left: 15px;
  margin: 0;
}

.card__wrapper {
  position: relative;
  z-index: 2;
}

.card {
  min-width: 120px;
  max-width: 120px;
  min-height: 265px;
  border-radius: 10px;
  margin-right: 10px;
  background-color: #fff;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.card__yellow-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  background-color: #ffe24d;
  opacity: 1;
  transition: 350ms ease-in-out;
  border-radius: 0 0 50% 0;
}

.card:hover .card__yellow-bg::after {
  width: 150%;
  height: 150%;
}

.card__img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card__info {
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
  min-height: 160px;
}

.card__info__category {
  margin: 0;
  font-size: 8px;
  color: rgb(68, 75, 83);
}

.card__info__title {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 15px;
}

.card__info__date {
  font-size: 8px;
  color: rgb(68, 75, 83);
  margin: 10px 0 0;
}

.card__cta {
  display: flex;
  align-items: center;
  margin: 0 10px 10px;
  visibility: hidden;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 8px;
}

.card__cta::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: pointer;
}

.card:hover .card__cta {
  visibility: visible;
}

.card__cta--arrow {
  position: relative;
  margin-left: 5px;
  border-radius: 3px;
  z-index: 3;
  background-color: #e5e5e5;
  height: 17px;
  width: 20px;
}

.card__cta--arrow::after {
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg width='13' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.53 6.53a.75.75 0 0 0 0-1.06L7.757.697a.75.75 0 1 0-1.06 1.06L10.939 6l-4.242 4.243a.75.75 0 0 0 1.06 1.06L12.53 6.53ZM0 6.75h12v-1.5H0v1.5Z' fill='%23171717'/%3E%3C/svg%3E");
  position: absolute;
  top: 2px;
  left: 4px;
}

.card__cta--arrow:hover {
  background: linear-gradient(90deg, #ffe24d 11.03%, #99cc7e 53.39%, #93e0f1 103.45%);
  width: 30px;
}

.card__cta--arrow:hover::after {
  z-index: 3;
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg width='23' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.53 6.53a.75.75 0 0 0 0-1.06L17.757.697a.75.75 0 0 0-1.06 1.06L20.939 6l-4.242 4.243a.75.75 0 0 0 1.06 1.06L22.53 6.53ZM0 6.75h22v-1.5H0v1.5Z' fill='%23171717'/%3E%3C/svg%3E");
}

.card__btn {
  background-color: #ffe24d;
  display: block;
  margin: 20px auto 0 auto;
  border: none;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 8px;
}

.card__btn:hover {
  background: linear-gradient(90deg, #ffe24d 11.03%, #99cc7e 53.39%, #93e0f1 103.45%);
  cursor: pointer;
}

@media (min-width: 480px) {
  h1 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .card__container {
    padding-left: 25px;
  }
  .card {
    min-width: 160px;
    max-width: 160px;
    min-height: 276px;
  }
  .card__info {
    min-height: 155px;
  }
  .card__info__category {
    font-size: 10px;
  }
  .card__info__title {
    font-size: 17px;
  }
  .card__info__date {
    font-size: 10px;
  }
  .card__cta {
    font-size: 10px;
  }
  .card__btn {
    margin: 25px auto 0 auto;
    padding: 7px 10px;
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 28px;
    margin-bottom: 35px;
  }
  .card__container {
    padding-left: 50px;
  }
  .card {
    min-width: 210px;
    max-width: 210px;
    min-height: 355px;
  }
  .card__info {
    min-height: 200px;
  }
  .card__info__category {
    font-size: 16px;
  }
  .card__info__title {
    font-size: 22px;
  }
  .card__info__date {
    font-size: 16px;
  }
  .card__cta {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .card__cta--arrow {
    height: 22px;
    width: 24px;
  }
  .card__cta--arrow::after {
    left: 5px;
  }
  .card__cta--arrow:hover {
    width: 34px;
  }
  .card__btn {
    margin: 30px auto 0 auto;
    padding: 10px 12px;
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 34px;
    margin-bottom: 42px;
  }
  .card__container {
    padding-left: 100px;
  }
  .card {
    min-width: 300px;
    max-width: 300px;
    min-height: 470px;
    margin-right: 20px;
  }
  .card__info {
    min-height: 260px;
    padding: 20px 20px 0 20px;
  }
  .card__info__category {
    font-size: 18px;
  }
  .card__info__title {
    font-size: 28px;
  }
  .card__info__date {
    font-size: 18px;
  }
  .card__cta {
    font-size: 18px;
    margin: 0 20px 20px;
  }
  .card__cta--arrow {
    height: 22px;
    width: 26px;
  }
  .card__cta--arrow::after {
    left: 7px;
    top: 1px;
  }
  .card__cta--arrow:hover {
    width: 34px;
  }
  .card__btn {
    margin: 50px auto 0 auto;
    padding: 14px 16px;
    font-size: 16px;
  }
}

/*# sourceMappingURL=styles.css.map */
