* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 60px;
}

ul {
  list-style: none;
  padding: 0;
  margin-left: 15px;
}

.card__container {
  display: flex;
  overflow-x: scroll;
  position: relative;
}

.card {
  width: 360px;
  height: 100%;
  border-radius: 10px;
  margin-right: 15px;
  background-color: #fff;
  position: relative;
  overflow-x: hidden;
}

.card__yellow-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  background-color: rgb(244, 215, 27);
  opacity: 1;
  transition: 350ms ease-in-out;
  border-radius: 0 0 50% 0;
}

.card:hover .card__yellow-bg::after {
  width: 150%;
  height: 150%;
}

.card__img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
}

.card__info {
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
  height: 165px;
  position: relative;
  z-index: 2;
}

.card__info__category {
  margin: 0;
  font-size: 8px;
  color: rgb(68, 75, 83);
}

.card__info__title {
  margin: 10px 0;
  font-size: 15px;
}

.card__info__date {
  font-size: 8px;
  color: rgb(68, 75, 83);
  margin: 0;
}

.card__cta {
  padding-left: 10px;
  display: none;
  font-size: 8px;
  text-decoration: none;
  color: black;
  bottom: 3%;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.card__cta::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: pointer;
}

.card:hover .card__cta {
  display: block;
}

.card__cta--arrow {
  background-color: #e5e5e5;
  width: 35px;
  height: 30px;
  border-radius: 5px;
  position: absolute;
  left: 47%;
  top: -20%;

  &:hover {
    background: linear-gradient(90deg,#ffe24d 11.03%,#99cc7e 53.39%,#93e0f1 103.45%);
  }

  &::after {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg width='13' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.53 6.53a.75.75 0 0 0 0-1.06L7.757.697a.75.75 0 1 0-1.06 1.06L10.939 6l-4.242 4.243a.75.75 0 0 0 1.06 1.06L12.53 6.53ZM0 6.75h12v-1.5H0v1.5Z' fill='%23171717'/%3E%3C/svg%3E");
    position: relative;
    top: auto;
    left: 30%;
    top: 10%;
  }
}

// media query

@media (min-width: 1024px) {
  ul {
    margin-left: 100px;
  }

  .card {
    min-width: 320px;
    height: 480px;
  }

  .card__img {
    min-width: 320px;
    width: 100%;
  }
  
  .card__info {
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;
    height: 240px;
  }
  
  .card__info__category {
    font-size: 20px;
  }
  
  .card__info__title {
    font-size: 27px;
  }
  
  .card__info__date {
    font-size: 20px;
  }

  .card__cta {
    padding-left: 20px;
    font-size: 20px;
  }
}