* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 60px;
}

ul {
  list-style: none;
  padding: 0;
  margin-left: 15px;
}

.card__container {
  display: flex;
  overflow-x: scroll;
  position: relative;
}

.card {
  width: 360px;
  height: 500px;
  border-radius: 10px;
  margin-right: 15px;
  background-color: #fff;
  position: relative;
  overflow-x: hidden;
}

.card__yellow-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  background-color: rgb(244, 215, 27);
  opacity: 1;
  transition: 350ms ease-in-out;
  border-radius: 0 0 50% 0;
}

.card:hover .card__yellow-bg::after {
  width: 150%;
  height: 150%;
}





.card__img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
}

.card__info {
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
  height: 165px;
  position: relative;
  z-index: 2;
}

.card__info__category {
  margin: 0;
  font-size: 8px;
  color: rgb(68, 75, 83);
}

.card__info__title {
  margin: 10px 0;
  font-size: 15px;
}

.card__info__date {
  font-size: 8px;
  color: rgb(68, 75, 83);
  margin: 0;
}

.card__cta {
  padding-left: 10px;
  display: none;
  font-size: 8px;
  text-decoration: none;
  color: black;
  bottom: 3%;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: all 500ms ease-in-out;
}

.card__cta::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: pointer;
}

.card:hover .card__cta {
  display: block;
}

// HOVER MUESTRA

.image-container {
  position: relative;
  width: 320px;
  height: 480px;
  background-color: aqua;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  background: red;
  opacity: 1;
  transition: 300ms ease-in-out;
  border-radius: 0 0 250px 0;
}

.image-container:hover::before {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  overflow-x: hidden;
}

// VER ANOTACION PARA ARREGLAR ANCHOR